body{
    font-family: 'IBM Plex Sans', sans-serif;
}
.fill{
    color: white;
}
p{
    color: #4d4d4d;
    /* font-weight: lighter; */
}

/* .bg{
    background-image: url('https://thumbs.dreamstime.com/b/abstract-yellow-tech-background-dark-53781316.jpg');
    background-size: cover;
    background-color: black;
    background-blend-mode: multiply;
} */