body{
    font-family: 'Manrope', sans-serif;
}
.fill{
    color: white;
}

/* .bg{
    background-image: url('https://thumbs.dreamstime.com/b/abstract-yellow-tech-background-dark-53781316.jpg');
    background-size: cover;
    background-color: black;
    background-blend-mode: multiply;
} */